# Tuesday Homework 2: More fun with for loops and if statements

<br>In today's lecture, we walked through one common situation you'll use in your own Python code - looping through a list and appending items to a new list. 
<br><br>This homework walks through 4 other common situations you'll encounter. For each example, you should take a moment before running the code to try and predict what the output will be.

## <br>Example 1 - Doing something with each item in a list

<br>First, let's store a list of the high temperatures on Northwestern's Qatar campus for the past week:

In [7]:
c_temps = [43, 45, 47, 41, 37, 43, 42]

<br>The equation to convert from Celsius to Farenheit is F = C x 9/5 + 32. 
<br>We can write a for loop to convert our `c_temps` to Farenheit:

In [8]:
for temp in c_temps:
    f = temp * (9/5) + 32
    print(f)

109.4
113.0
116.60000000000001
105.8
98.60000000000001
109.4
107.60000000000001

<br>Let's improve this output by rounding the temperatures to one digit past the decimal, and by writing a complete sentence:

In [9]:
for temp in c_temps:
    f = temp * (9/5) + 32
    f2 = round(f, 1)
    print("The high temperature was " + str(f2) + " degrees F (" + str(temp) + " C).")

The high temperature was 109.4 degrees F (43 C).
The high temperature was 113.0 degrees F (45 C).
The high temperature was 116.6 degrees F (47 C).
The high temperature was 105.8 degrees F (41 C).
The high temperature was 98.6 degrees F (37 C).
The high temperature was 109.4 degrees F (43 C).
The high temperature was 107.6 degrees F (42 C).

### <br><br>Exercise 1

First, store this list. It contains the world record fastest 5K times for men and women:

In [2]:
fastest5k = [12.6225, 14.1858333]

<br>5 kilometers is equal to 3.10686 miles.

To convert a runner's 5K time to their 1 mile time, use the equation:
<br>mile_time = fiveK_time / 3.10686

<br>Write a for loop to loop through the `fastest5k` list. Inside the for loop, convert the 5K time to a mile time, round the mile time to two digits after the decimal point, and print the answer in a complete sentence.

In [12]:
fastest5Knew = []

for fiveK_time in fastest5k:
  mile_time = fiveK_time/3.10686
  mile_time = round(mile_time, 2)
  fastest5Knew.append(mile_time)

print("The fastest running speed for men is " + str(fastest5Knew[0]) + " and for woman is " + str(fastest5Knew[1]))

The fastest running speed for men is 4.06 and for woman is 4.57

In [13]:
fastest5Knew = [0]*2
for count, fiveK_time in enumerate(fastest5k):
  mile_time = fiveK_time/3.10686
  mile_time = round(mile_time, 2)
  fastest5Knew[count] = mile_time
print("The fastest running speed for men is " + str(fastest5Knew[0]) + " and for woman is " + str(fastest5Knew[1]))

The fastest running speed for men is 4.06 and for woman is 4.57

## <br><br><br>Example 2 - Using all the items in the list to find one number

This list contains the names of students in your class:

In [14]:
students = ["Eleven", "Dustin", "Mike", "Will", "Lucas", "Max"]

<br>On your classroom wall, you want to spell out all of the students' names with one letter per piece of paper, but you need to know how many pieces of paper you need. Luckily, the `len()` function will tell you how many letters are in each name, but you need to tally up the total.

<br>To do this, you are first going to assign the number zero to a variable:

In [15]:
papers = 0

<br>Next, you can loop through the list, adding the length of each name to your `papers` variable as you go:

In [16]:
for s in students:
    papers = papers + len(s)

Let's see if it worked:

In [17]:
print(papers)

28

<br>This is a common situation that comes up when you're coding, so it's good to practice it now.

### <br><br>Exercise 2

<br>This list contains the dimensions of your new fish tank, in inches:

In [18]:
tank = [32, 17, 31]

<br>You want to calculate the volume of your fish tank in cubic inches. The equation is length x width x height, but your length, width, and height are stored in your list.

First create a variable called `volume` that contains the number 1:

In [20]:
volume = 1

Write a for loop to loop through the `tank` list, reassigning the variable `volume` to the product of  each item in the list and `volume`.

In [21]:
for dimension in tank:
    volume = volume * dimension

Now print the variable `volume`:

In [22]:
print (volume)

16864

## <br><br><br>Example 3 - Using a for loop with if/elif/else statements to filter the items in a list.

In [23]:
students = ["Eleven", "Dustin", "Mike", "Will", "Lucas", "Max"]

In [24]:
for student in students:
    if student == "Will":
        print(student + " should repeat 7th grade because of absences.")
    elif student == "Eleven":
        print("I'm not sure who this student is, they just showed up one day.")
    else:
        print(student + " can move up to 8th grade.")

I'm not sure who this student is, they just showed up one day.
Dustin can move up to 8th grade.
Mike can move up to 8th grade.
Will should repeat 7th grade because of absences.
Lucas can move up to 8th grade.
Max can move up to 8th grade.

<br>We can add more code under each if/elif/else statement. Let's add the students to the correct empty list:

In [25]:
grade_8 = []
grade_7 = []
unsure = []
for student in students:
    if student == "Will":
        print(student + " should repeat 7th grade because of absences.")
        grade_7.append(student)
    elif student == "Eleven":
        print("I'm not sure who this student is, they just showed up one day.")
        unsure.append(student)
    else:
        print(student + " can move up to 8th grade.")
        grade_8.append(student)

I'm not sure who this student is, they just showed up one day.
Dustin can move up to 8th grade.
Mike can move up to 8th grade.
Will should repeat 7th grade because of absences.
Lucas can move up to 8th grade.
Max can move up to 8th grade.

In [26]:
print("Grade 7:")
print(grade_7)
print("Grade 8:")
print(grade_8)
print("Unsure where to place:")
print(unsure)

Grade 7:
['Will']
Grade 8:
['Dustin', 'Mike', 'Lucas', 'Max']
Unsure where to place:
['Eleven']

### <br><br>Exercise 3

*This one will take a little thought. There are several possible answers.*

In [ ]:
grades = [90, 75, 92, 89, 95, 94, 100, 92]

The list `grades` shows the homework grades that one student received over the quarter. You told the students that you would drop their one lowest homework grade.
<br><br>Create a new empty list called `final_grades`:

In [ ]:
final_grades = []

<br>Write a for loop to loop through `grades`. **For** each grade in the list, **if** the grade is **not equal to** the lowest grade in the list, **append** it to `final_grades`:
<br>*Hint: you can use the min() function to find the lowest grade in the list.*

In [ ]:
for count, g in enumerate(grades):
    if g = "Will":
        print(student + " should repeat 7th grade because of absences.")
        grade_7.append(student)

Print `final_grades`.

## <br><br><br>Example 4: Using try/except to handle unexpected variations in a list

We often need to use try/except if we aren't sure whether all the items in our list are of the correct data type.

In [ ]:
test_scores = [90, 95, "absent", 100, 76]

Let's say we want to give an extra 2 points for every test.

In [ ]:
bonus_scores = []
for score in test_scores:
    bonus_scores.append(score + 2)
print(bonus_scores)

<br>This gave us an error because you can't add the number 2 to the word "absent", so we can rewrite it:

In [ ]:
bonus_scores = []
for score in test_scores:
    try:
        bonus_scores.append(score + 2)
    except TypeError:
        bonus_scores.append(score)
print(bonus_scores)

<br>You need to specify the type of error in your except statement.
<br><br>Sometimes this means that you need to run the code without try/except first to get the name of the error you should expect.
<br><br>If you don't include the error type, it will perform the except code for all exceptions, which might seem great, but it can actually create more trouble for you down the road.

In [ ]:
test_scores2 = [90, 95, "absent", 100, "76"]

Here we have the same list, except you accidentally entered the last score as a string instead of an integer. Let's try this list with the same code we just wrote:

In [ ]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        bonus_scores2.append(score)
print(bonus_scores2)

<br>It didn't add bonus points to the last score, even though you need that score included. Let's try this to account for the last score:

In [ ]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        bonus_scores2.append(int(score) + 2)
print(bonus_scores2)

<br>Now we can see that the second error is a ValueError, so we can add a second try/except to our code:

In [ ]:
bonus_scores2 = []
for score in test_scores2:
    try:
        bonus_scores2.append(score + 2)
    except TypeError:
        try:
            bonus_scores2.append(int(score) + 2)
        except ValueError:
            bonus_scores2.append(score)
print(bonus_scores2)

<br>This was a complicated example, but it shows how it can take some logic to get the results you want.

### <br><br>Exercise 4

Store this list of students:

In [ ]:
students = [11, "Dustin", "Mike", "Will", "Lucas", "Max"]

<br>Run the code below to identify the error:

In [ ]:
for student in students:
    print(len(student))

<br>Write a new loop to print the length of each student's name. Include a try/except block. You can decide what you want to do with 11 - pass? print something? change to a string?